<h1>Products</h1>

<div class="products-list">
  <ul>
    <% @products.each do |product| %>
    <li><%= product.title %></li>
    <li><%= product.description %></li>
    <li><%= product.image %></li>
    <li><%= product.price %></li>
  <% end %>
  </ul>
</div>
