<h1>Products</h1>

<div class="products-list">
  <ul>
    <% @products.each do |product| %>
    <li><%= product.title %></li>
    <li><%= product.description %></li>

   <!--  Add image_tag here! -->

    <li><%= image_tag product.image, alt: 'alttext' %></li>
    <li><%= product.price %></li>
  <% end %>
  </ul>
</div>
